/*aide*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}
input,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
}
ul, ol, button {
  list-style: none;
  cursor: pointer;
  background: transparent;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.flex {
  display: flex;
}
.section-offset {margin-bottom: 60px; font-size: 100%;}
.container {margin: 0 auto; padding: 40px 50px; max-width: 1770px; font-size: 100%; background-color: rgba(242, 242, 242, 1); border-radius: 16px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);}
.h2 {margin-bottom: 20px; font-weight: bold; font-size: 36px; line-height: 42px;}
.h3 {margin-bottom: 12px; font-weight: bold; font-size: 24px; line-height: 30px;}

/*header*/
.header {
  margin-bottom: 60px;
}

.header__container {
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px 50px;
  max-width: 1920px;
  background-image: url('../img/git/header/git.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
}

.header-menu {
  width: 18.23%;
  font-weight: normal;
  font-size: 16px;
}

.header-menu__title {
  margin-bottom: 20px;
  font-size: 24px;
}

.header-menu__item {
  margin-bottom: 10px;
}

.header-menu__item:last-child {
  margin-bottom: 0;
}

.header-menu__link {
  position: relative;
}

.header-menu__link:focus {
  outline-offset: 2px;
  outline: 1px solid #71a7e2;
}

.header-menu__link:hover {
  color: #71a7e2;
}

.header-menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  /*opacity: 0;*/
  transform: scaleX(0);
  transition: transform 0.3s;
}
.header-menu__link:active::after {
  /*opacity: 1;*/
  transform: scale(1);
}
.header-menu__link:active {
  color: #3172b9;
  outline: none;
}

.header__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 48px;
}

.header__content {
  width: 41.67%;
  text-align: right;
}

.header__descr {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 40px;
}

.header__descr:last-child {
  margin-bottom: 0;
}

/*repo*/
.repo-wrapper:not(:last-child) {
  margin-bottom: 30px;
}

/*branch*/
.branch-wrapper:not(:last-child) {
  margin-bottom: 30px;
}

/*commit*/
.commit-wrapper:not(:last-child) {
  margin-bottom: 30px;
}

/*footer*/
.footer__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  color: #fff;
  background-color: #222;
  border-radius: 15px;
}

.footer__title {
  margin: 0;
  margin-bottom: 20px;
  line-height: 100%;
}

.footer__form {
  flex-direction: column;
  margin-bottom: 20px;
  width: 15.9%;
}

.input {
  padding: 15px 20px;
  border-radius: 5px;
  background-color: slategray;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
}

.input:not(:last-child) {
  margin-bottom: 15px;
}

.input::placeholder {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
}

.input:focus {
  outline: none;
  outline: 1px solid dimgray;
  outline-offset: 1px;
  background-color: dimgray;
}

.input:hover {
  background-color: darkgray;
}

.footer__input {
  min-height: 30px;
}

.footer__textarea {
  min-height: 90px;
  resize: none;
}

.footer__btn {
  margin: 0 auto;
  padding: 20px 20px;
  width: 75%;
  background-color: slategray;
  border-radius: 5px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
}

.footer__btn:focus {
  outline: none;
  outline: 1px solid dimgray;
  outline-offset: 1px;
  background-color: dimgray;
}

.footer__btn:hover {
  background-color: darkgray;
}

.footer__btn:active {
  outline: none;
  background-color: gray;
}

.footer__descr {
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
}

.footer__link {
  position: relative;
}
.footer__link:focus {
  outline-offset: 2px;
  outline: 1px solid #DCDCDC;
  color: #DCDCDC;
}
.footer__link:hover {
  color: #DCDCDC;
}
.footer__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #A9A9A9;
  /*opacity: 0;*/
  transform: scaleX(0);
  transition: transform 0.3s;
}
.footer__link:active::after {
  /*opacity: 1;*/
  transform: scale(1);
}
.footer__link:active {
  color: #A9A9A9;
  outline: none;
}