.for,
.for-of,
.for-in,
.while,
.do-while,
.continue,
.break,
.for-while,
.select-cycle,
.falsy {
  padding: 20px;
  width: 70%;
  background-color: rgba(176, 224, 230, 0.5);
}
.for,
.continue {
  width: 85%;
}
