.hero__container {
  min-height: 400px;
  background-image: url("../img/hero/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgba(255, 255, 255, 1);
}
.hero__title {
  margin: 0 0 50px;
  font-size: 36px;
}
.hero__text {
  font-size: 20px;
  width: 30%;
}
